@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

.App-header {
  font-family: 'Nova Square', cursive;
  color: rgb(97, 2, 169);
  letter-spacing: calc(3px);
  font-size: 1.4rem;
  display: flex;
  padding: 2%;
  justify-content: center;
}

.App-header>div {
  border: 2px solid goldenrod;
  background: linear-gradient(to right, #BF953F, #f8f0a9, #f5ba55, #f8f0a9, #efae2c);
  padding: 2%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-header>div>h1 {
  align-self: flex-start;

}

.line {
  height: 2px;
  width: 70%;
  background-color: goldenrod;
  display: flex;
  align-self: flex-end;
}

.App-header>div>p {

  align-self: flex-end;
}

.grid-text {
  display: flex;
  flex-direction: row;
}


@media only screen and (max-width: 980px) {
  .grid-text {
    flex-direction: column;
  }
  .text-container{
    color:rgb(9, 65, 2);
    justify-content: space-between;
  }
   
}

/* slide text */
.auto-text-slider {
  overflow: hidden;
  margin: 5%;
}

.text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:10%;
  animation: scroll-text linear infinite;
 
}

.text-item {
  opacity: 0;
  transition: opacity 0.5s;
  
}

.text-item.active {
  opacity: 1;
}

@keyframes scroll-text {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}